<%- include("./common/header", { title: "Dashboard" }) %>


    <div class="col-8 mt-5">
        <div class="row">
            <div class="col">
                <div class="card text-light bg-dark mb-3 text-center p-2 shadow" style="max-width: 18rem;">
                    <div class="card-header bg-light text-dark">Registered Users</div>
                    <div class="card-body">
                        <h5 class="card-title pt-3 pb-3">
                            <%= registered_users.length %>
                        </h5>
                        <p class="card-text"> <a href="/admin/registered-users" class="text-light"> View </a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light mb-3 text-center p-2 shadow" style="max-width: 18rem;">
                    <div class="card-header bg-dark text-light">Total Products</div>
                    <div class="card-body">
                        <h5 class="card-title pt-3 pb-3">
                            <%= products.length %>
                        </h5>
                        <p class="card-text"> <a href="/admin/products" class="text-dark"> View </a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3 text-center p-2 shadow" style="max-width: 18rem;">
                    <div class="card-header bg-light text-dark">Sold Products</div>
                    <div class="card-body">
                        <h5 class="card-title pt-3 pb-3"><%= sold_products.length %></h5>
                        <p class="card-text"> <a href="/admin/sold-products" class="text-light"> View </a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow card text-dark bg-light mb-3 text-center p-2" style="max-width: 18rem;">
                    <div class="card-header bg-dark text-light">Total Posts</div>
                    <div class="card-body">
                        <h5 class="card-title pt-3 pb-3"><%= posts.length %></h5>
                        <p class="card-text"> <a href="/admin/posts" class="text-dark"> View </a></p>
                    </div>
                </div>
            </div>

        </div>


    </div>
    </div>
    </div>


    <%- include("./common/footer") %>