<%- include("../common/header", { title: "Add new post" }) %>

    <div class="col mt-5">
        <div class="row">
            <div class="col-6 shadow rounded p-5">
                <form action="//localhost:3000/admin/posts/update/<%= id %>" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Post Title</label>
                        <input type="text" value="<%=title %>" class="form-control border-dark" id="exampleFormControlInput1"
                        placeholder="This is the title of my post" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Add content here...</label>
                        <textarea class="form-control border-dark" id="exampleFormControlTextarea1" rows="6"
                            name="description"><%= content %></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark"> Update</button>
                </form>

            </div>
        </div>
    </div>
    </div>
    </div>





    <%- include("../common/footer") %>